.bundle
db/*.sqlite3
log/*.log
log/searchd.development.pid
tmp/
.sass-cache/
.idea/*
config/development.sphinx.conf
db/sphinx/*
.DS_Store

# xcode noise
build/*
*.pbxuser
*.mode1v3

# old skool
.svn

# osx noise
.DS_Store
profile