.bundle
db/*.sqlite3
log/*.log
log/searchd.development.pid
tmp/
.sass-cache/
.idea/*
config/development.sphinx.conf
db/sphinx/*
.DS_Store
Stylepics/StylepicsApp/StylepicsApp.xcodeproj/project.xcworkspace/xcuserdata/yujunwu.xcuserdatad/UserInterfaceState.xcuserstate
